/* Universal CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* Reused CSS */

.main-wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.mr-10 {
  margin-right: 10px;
}

.primary_btn {
  padding: 18px 36px;
  background-color: #fd6e0a;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  border: 1px solid transparent;
  transition: 0.1s;
}

.primary_btn:hover {
  background-color: transparent;
  border: 1px solid #fd6e0a;
  color: #fd6e0a;
  cursor: pointer;
}

.primary_btn.white {
  background-color: transparent;
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
  margin-left: 30px;
}

.primary_btn.white:hover {
  background-color: #fd6e0a;
  color: #fff;
}

a {
  text-decoration: none;
}

.section-title {
  color: #181818;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}

.section-description {
  color: #757575;
  font-size: 18px;
  line-height: 30px;
  margin: 30px 0;
  font-weight: 400;
}

/* Header */

header {
  background-image: url('images/header_bg.png'), url('images/developer.png');
  background-repeat: no-repeat;
  background-position: bottom right, bottom left 20px;
  background-size: 700px, contain;
  background-color: #fff8f3;
}

.header_textbox {
  margin: 100px 0 205px 0;
}
.header_container {
  margin: 0 auto;
  max-width: 1140px;
}

.header_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_img {
  max-width: 380px;
  align-self: flex-end;
}

.header_title {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
}

.header_name {
  color: #181818;
  font-size: 700;
  font-size: 85px;
}

.header_description {
  color: #757575;
  font-size: 18px;
  margin: 20px 0 50px 0;
  line-height: 30px;
  max-width: 600px;
}

/* Nav Menu CSS */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

nav ul li {
  margin-left: 50px;
}

nav a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
  font-weight: 400;
  transition: 0.01;
}

nav a:hover {
  color: #fd6e0a;
}

.nav_logo {
  font-size: 45px;
  font-weight: 800;
  color: #181818;
}

.nav_logo span {
  color: #fd6e0a;
}

/* About Section */

.about-section {
  text-align: center;
  background-color: #fff8f3;
  border-radius: 10px;
  padding: 130px 150px;
  margin: 130px 0;
}

.about-info {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.about-name {
  font-size: 20px;
  color: #757575;
  line-height: 30px;
}

.about-item h5 {
  color: #474747;
  font-weight: 700;
  font-size: 20px;
}

/* Skill Section */
.skill {
  text-align: center;
}

.skill > .section-description {
  max-width: 800px;
  margin: 30px auto 50px auto;
}

.skill-items {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.skill-items img {
  width: 44px;
  height: auto;
}

.skill-item {
  text-align: left;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  padding: 30px 33px;
}

.skill-item .section-description {
  font-size: 16px;
  line-height: 28px;
  margin: 0;
}

.skill-name {
  margin: 20px 0 30px 0;
  color: #181818;
  font-size: 20px;
  font-weight: 700;
}

/* Resume Section */

.resume {
  padding: 130px 0;
}

.resume-container {
  display: flex;
  margin-top: 110px;
  justify-content: space-between;
  gap: 70px;
}

.resume-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

.resume-item h4 {
  font-size: 25px;
  color: #474747;
  font-weight: 700;
  margin: 0;
}

.resume-item h5 {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0 20px 0;
}

hr {
  margin: 30px 0;
  height: 1px;
  color: #d1d1d1;
}

.resume-item p {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.resume-btn-wrap {
  text-align: center;
  margin: 50px 0 110px 0;
}
